<div class="article-paywall">
    <div class="article-paywall__wrapper">
        <div class="row">
            <div class="col-lg article-paywall__top-text"><strong>Selecione uma opção abaixo para continuar lendo a notícia:</strong></div>
        </div>
        <div class="article-paywall__card-container">
            <div class="article-paywall__card">
                <div class="article-paywall__pricing--limited">{{myvar}}</div>
                <div class="article-paywall__title">Assine e tenha acesso ilimitado:</div>
                <div class="article-paywall__subtitle--price"> Estadão com até <span class="article-paywall__pricing--bold">90% de desconto</span> no primeiro mês</div>
                <a href="https://assine.estadao.com.br/landingpage/planos.html/?canal=PAY&amp;referrer_url={{blaize.customData.ref}}&amp;paywall_dinamico=paywall_dinamico_zephr">
                    <div id="openLandingPage" class="article-paywall__button article-paywall__button--green"> Assine agora </div>
                </a>
            </div>
            <div class="article-paywall__card">
                <div class="article-paywall__title">{{{blaize.jwt("test")}}}</div>
                <div class="article-paywall__subtitle">Clique para acessar área exclusiva</div>
                <a id="openLogin" href="https://acesso.estadao.com.br/login/logout/?r=https://acesso.estadao.com.br/login/?r=">
                    <div class="article-paywall__button article-paywall__button--blue"> Entrar </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg article-paywall__logo">
                <img src="https://statics.estadao.com.br/s2016/portal/logos/logo-estadao-cavalo.svg" alt="Estadao" width="150px" height="32px">
            </div>
        </div>
    </div>
</div>
<script>
console.log("changed boris");
</script>