<style>
  .zephr-login summary::-webkit-details-marker {
    display: none;
}

.zephr-login .zephr-login-wrapper {
    position: absolute;
    z-index: 1000000;
    background-color: white;
    padding: 2em;
}

.zephr-login .zephr-login-wrapper .form-link{
    display: block;
}

.zephr-login summary {
  display: inline-block;
  margin: 0px auto 0px;
  padding: 15px 20px;
  font-weight: bold;
  background-color: {{login-button-background-color}};
  color: {{login-button-text-color}};
}

.zephr-login .zephr-login-wrapper button {
  display: inline-block;
  margin: 10px auto 0;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 10px;
}

.zephr-login .zephr-login-wrapper .login-identifiers {
  border: none;
  overflow: hidden;
  display: block;
  padding: 10px 0;
  margin: 0;
}

.zephr-login .zephr-login-wrapper .login-identifiers label {
  color: #747474;
  font-weight: 700;
  font-size: 14px;
  font-family: Roboto Condensed;
}

.zephr-login .zephr-login-wrapper .login-identifiers input {
  border: 1px solid #e1e3e8;
  width: 230px;
  display: block;
  height: 42px;
  padding: 0 10px;
}

.zephr-to-register {
  color: #747474;
  font-size: 14px;
  font-family: Roboto Condensed;
}

.zephr-login .zephr-login-wrapper form {
  box-sizing: border-box;
}
</style>

<div class='zephr-login'>
  <details>
    <summary>Login</summary>
    <div class='zephr-login-wrapper'>
      <form>
        <fieldset class="login-identifiers">
          <label for="login_email">{{ruleId}}</label>
          </br>
          <input name="email_address" id="login_email" type="email" required>
        </fieldset>
        <fieldset class="login-identifiers" id="password_identifier">
          <label for="login_password">{{outcomeId}}</label>
          </br>
          <input name="password" id="login_password" type="password" required>
        </fieldset>
        <button id='login' type='button'>{{{textlogin}}}</button>
        <button id='reset-password' type='button'>Reset</button>
        <p id='zephr-error'></p>
        <p id="zephr-success">
          A link has been emailed to you - check your inbox.
        </p>
      </form>
      <span class="form-link" id="zephr-to-register">
        Not Registered? <a href="{{registration-url}}">Create an account</a>
      </span>
      <span class="form-link" id="zephr-to-login" style='display: none'>
        Already registered? <a href="#">Login</a>
      </span>
      <span class="form-link" id="zephr-to-reset-password">
        Forgotten your password? <a href="#">Reset Password</a>
      </span>
    </div>
  </details>
</div>

<script>
  document.getElementById('reset-password').style.display = 'none';
  document.getElementById('zephr-error').style.display = 'none';
  document.getElementById('zephr-success').style.display = 'none';
  

  var loginButton = document.getElementById('login');
  loginButton.addEventListener('click', function(event) {
    event.preventDefault();
    let form = event.target.parentNode;
    let emailAddress = form.querySelector('[name="email_address"]').value;
    let password = form.querySelector('[name="password"]').value;
    let loginError = form.querySelector('#zephr-error');
    
    loginError.style.display = 'none';

    var xhrLogin = new(XMLHttpRequest || ActiveXObject)('MSXML2.XMLHTTP.3.0');
    xhrLogin.open('POST', '/blaize/login', true);
    xhrLogin.setRequestHeader('Content-type', 'application/json');
    xhrLogin.onreadystatechange = function() {
      if (xhrLogin.readyState === 4) {
        if (xhrLogin.status === 200) {
          location.reload(true);
        } else if (xhrLogin.status === 401) {
          loginError.innerHTML = 'The email address or password you entered are incorrect.';
        } else {
          loginError.innerHTML = 'Something went wrong! Please try again later.';
        }
        loginError.style.display = 'block';
      }
    };
    xhrLogin.send(JSON.stringify({
      identifiers: {
        email_address: emailAddress
      },
      validators: {
        password: password
      }
    }));
  });

  var toLogin = document.getElementById('zephr-to-login');
  toLogin.onclick = function(event) {
      event.preventDefault();
      document.getElementById('password_identifier').style.display = 'block';
      document.getElementById('login').style.display = 'block';
      document.getElementById('zephr-to-reset-password').style.display = 'block';
      document.getElementById('reset-password').style.display = 'none';
      document.getElementById('zephr-to-login').style.display = 'none';
      document.getElementById('zephr-success').style.display = 'none';
  };

  var toResetPassword = document.getElementById('zephr-to-reset-password');
  toResetPassword.onclick = function(event) {
      event.preventDefault();
      document.getElementById('password_identifier').style.display = 'none';
      document.getElementById('login').style.display = 'none';
      document.getElementById('zephr-to-reset-password').style.display = 'none';
      document.getElementById('reset-password').style.display = 'block';
      document.getElementById('zephr-to-login').style.display = 'block';
  };

  var handleResetPassword = function(event) {
      event.preventDefault();

      let form = event.target.parentNode;
      let emailAddress = form.querySelector('[name="email_address"]').value;
      let loginError = form.querySelector('#zephr-error');
      let zephrSuccess = form.querySelector('#zephr-success');
      let resetButton = form.querySelector('#reset-password');

      var xhrResetPassword = new(XMLHttpRequest || ActiveXObject)('MSXML2.XMLHTTP.3.0');
      xhrResetPassword.open('POST', '/blaize/users/reset', {{bool-test}});
      xhrResetPassword.setRequestHeader('Content-type', 'application/json');
      xhrResetPassword.onreadystatechange = function() {
        if (xhrResetPassword.status < 300 && xhrResetPassword.status >= 200) {
          zephrSuccess.style.display = 'block';
          resetButton.style.display = 'none';
        } else {
          loginError.innerHTML = (response.message) ? response.message : response;
          loginError.style.display = 'block';
        }
      };
      xhrResetPassword.send(JSON.stringify({
        identifiers: {
            email_address: emailAddress
        }
      }));
  };

  var resetButton = document.getElementById('reset-password');
  resetButton.addEventListener('click', handleResetPassword);
</script>
{{{html-test}}}